@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

:root {
  --primarySoftRed: hsl(5, 85%, 63%);
  --neutralOffWhite: hsl(36, 100%, 99%);
  --primarySoftOrange: hsl(35, 77%, 62%);
  --neutralGrayishBlue: hsl(233, 8%, 79%);
  --neutralVeryDarkBlue: hsl(240, 100%, 5%);
  --neutralDarkGrayishBlue: hsl(236, 13%, 42%);
}

body {
  width: 100%;
  background-color: white;
  transition: background-color 1s ease;
}

p {
  font-size: 15px;
}

.container {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_icon,
.close_menu {
  display: none;
}

.nav_links ul li {
  list-style: none;
  padding-left: 32px;
  display: inline-block;
  position: relative;
}

.nav_links ul li a {
  cursor: pointer;
  font-weight: 400;
  transition: 0.2s;
  text-decoration: none;
  color: var(--neutralDarkGrayishBlue);
}

.nav_links ul li a:hover {
  color: var(--primarySoftRed);
}

main {
  width: 100%;
  margin: 40px auto;
}

.row {
  gap: 25px;
  display: flex;
}

.left-col {
  flex-basis: 65%;
}

.img-container img {
  width: 100%;
}

.left-content {
  display: flex;
  margin-top: 25px;
}

.left-content .left-content-big-head {
  flex-basis: 50%;
}

.left-content .left-content-big-head h1 {
  line-height: 1;
  font-size: 55px;
  font-weight: 800;
  padding-right: 10px;
  text-align: left;
}

.left-content .left-content-desc {
  flex-basis: 50%;
  text-align: left;
}

.left-content .left-content-desc p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--neutralDarkGrayishBlue);
}

.left-content .left-content-desc button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  margin-top: 30px;
  font-weight: 700;
  padding: 13px 35px;
  text-align: center;
  transition: 0.4s;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--neutralVeryDarkBlue);
  background-color: var(--primarySoftRed);
}

.left-content .left-content-desc button:hover {
  color: var(--neutralOffWhite);
  background-color: var(--neutralVeryDarkBlue);
}

.right-col {
  flex-basis: 33%;
  padding: 20px 25px;
  text-align: left;
  background-color: var(--neutralVeryDarkBlue);
}

.right-col h2 {
  font-size: 36px;
  margin: 20px 0 25px;
  color: var(--primarySoftOrange);
}

.right-col-content {
  margin-top: 25px;
}

.right-col-content:not(:last-child) {
  border-bottom: 1px solid var(--neutralDarkGrayishBlue);
}

.right-col-content h3 {
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 10px;
  color: var(--neutralOffWhite);
}

.right-col-content h3:hover {
  color: var(--primarySoftOrange);
}

.right-col-content p {
  margin-bottom: 22px;
  line-height: 1.6;
  color: var(--neutralGrayishBlue);
}

.footer-contents {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.footer-content {
  width: 400px;
  display: flex;
  text-align: left;
  gap: 20px;
}

.footer-content img {
  height: 50%;
}

.footer-content-desc span {
  font-size: 30px;
  font-weight: 800;
  color: var(--primarySoftRed);
}

.footer-content-desc h5 {
  margin: 12px 0;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 800;
}

.footer-content-desc h5:hover {
  color: var(--primarySoftRed);
}

.footer-content-desc p {
  line-height: 1.5;
  padding-right: 5px;
  color: var(--neutralDarkGrayishBlue);
}

/* media queries */

/* only for mobile screen 375px */

@media only screen and (max-width: 375px) {
  .container {
    width: 340px;
    margin: 25px auto 30px;
  }

  .logo {
    width: 40px;
  }

  .menu_icon {
    display: block;
  }

  .nav_links {
    position: fixed;
    background: var(--neutralOffWhite);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: right 1s ease;
  }

  .close_menu {
    position: absolute;
    display: block;
    right: 15px;
    top: 20px;
  }

  .nav_links ul {
    margin-top: 100px;
  }

  .nav_links ul li {
    margin: 20px 0;
    display: block;
  }

  .nav_links ul li a {
    color: var(--neutralVeryDarkBlue);
  }

  .bodyOpacity {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .row {
    flex-direction: column;
  }

  .left-col,
  .right-col {
    flex-basis: 100%;
  }

  .left-content .left-content-big-head h1 {
    font-size: 40px;
    padding-right: 20px;
  }

  .left-content .left-content-desc p {
    font-size: 15px;
    margin-top: 10px;
  }

  .left-content {
    align-items: center;
    flex-direction: column;
  }

  .right-col h2 {
    font-size: 32px;
  }

  .right-col-content h3 {
    font-size: 20px;
  }

  .right-col-content p {
    font-size: 15px;
  }

  .footer-contents {
    align-items: center;
    flex-direction: column;
  }

  .footer-content {
    width: 300px;
    margin: 5px auto;
  }

  .footer-content img {
    height: 100%;
    width: 25%;
  }

  .footer-content-desc span {
    font-size: 20px;
  }

  .footer-content-desc h5 {
    font-size: 16px;
    margin: 8px 0;
  }

  .footer-content-desc p {
    font-size: 15px;
    line-height: 1.3;
    padding-right: 0;
  }
}
